
/* Visual adjustments to jumbotron/hero */
.jumbotron {
  background: linear-gradient(#f8f9fa,#f0f5f5, #c2d6d6) ;
}
.jumbotron img {
  margin-top: 5%;
  margin-right: 3px;
}

/* Visual adjustments to project card layout*/

.card {
  margin-bottom: 3%;
}

/* footer contact detail styles*/

.address {
  line-height: 1;
}

/*Projects column styling to stop the sidebar from disappearing*/ 

.row>* {
  padding-right: 0!important;
}

#footer a:hover {
  box-shadow: 2px 2px 5px darkslategray;
  border-radius: 10%;
}